@use '../../styles/utilities/index' as *;
@use '../../styles//variables/color-admin' as *;

.main-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100dvh;
    background-color: var(--color-secondary);
    padding: 0;
}

@media (max-width: 440px) {
    
    .main-wrapper {
        padding-left: 3.1em;
    }
}