@use '../../styles/variables/font' as *;
@use '../../styles/variables/color-admin' as *;

#nav.open {
    width: 50px;
    padding: 5px 5px;

    ul:nth-child(1) {
        border-bottom: 0px solid $border;
    }
        
    ul {
        .logo-container .logo{ 
            opacity: 0;
        }

        li:not(.logo-container) {
            a {
                padding: .25em .5em;
                transition: 300ms ease-in-out;

                &:hover {
                    background-color: $bg-main;
                }
            }
        }
    }

    .section-title {
        opacity: 0;
        }
    }

#nav {
    position: sticky;
    top: 0;
    align-self: start;   
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: $bg-sidebar;
    border-right: 1px solid $border;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;

    ul:nth-child(1) {
        margin-bottom: 0.5rem;
        border-bottom: 1px solid $border;

        .logo-container {
            margin-bottom: 10px;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-block: 1rem;

        .logo-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 16px;

            .logo {
                font-weight: 600;
            }
        }

        li:not(.logo-container) {
            width: 100%;
            max-height: 35px;

            a {
                text-decoration: none;
                color: $text-primary;
                display: flex;
                gap: 1rem;
                align-items: center;
                border-radius: .5em;
                padding: .25em .5em .25em 1em;
                transition: 300ms ease-in-out;
                width: 100%;

                &:hover {
                    background-color: $bg-main;
                }
            }
        }

        #toggle-btn {
            margin-left: auto;
            padding-block: .7em;
            padding-right: .7em;
            padding-left: 1em;
            border: none;
            background: none;
            border-radius: .5em;
            cursor: pointer;
        }
    }

    .section-title {
        border-radius: .5em;
        padding: .5em .25em;
        text-decoration: none;
        color: $text-primary;
        display: flex;
        align-items: center;
        gap: 1em;
        flex-shrink: 0;
        transition: 100ms ease;
        opacity: 60%;
    }

    .overlay {
        display: none;
    }
}

@media(max-width: 800px) {
    #nav {
        position: fixed;
        width: 70vw;

        ul {
            #toggle-btn {
                padding: .9em;
            }
        }

        .overlay {
            display: block;
            transition: 300ms ease-in-out;
            transform: translateX(100px);
        }

        .overlay.open {
            position: fixed;
            transform: translateX(0);
            top: 0;
            right: 0;
            background-color: rgba(60, 60, 67, 0.25);
            backdrop-filter: blur(3px);
            width: 30%;
            height: 100vh;
        }
    }

    .home-content {
        padding: 0.5rem 4rem;
    }
}