<aside 
    [class.open]="sidebar.isOpen()" 
    id="nav"
>

    <!-- Naviagation container-->
    <div class="navigation-container">

        <!-- Logo -->
        <ul>
            <li class="logo-container">
                <img 
                    src="/angular-logo.png" 
                    alt="avatar"
                />
                <div class="user-info">
                    <span class="logo">{{ portalName }}</span>
                    <p>{{ email }}</p>
                </div>
                <button (click)="toggle()" id="toggle-btn">
                    <app-ui-icons 
                        [icon]="MenuIcons"
                        color="var(--color-icon)"
                        [size]="23"
                        [strokeW]="1.5"
                    />
                </button>
            </li>
        </ul>

        <!-- Primary navigation -->
        <ul>
            @for (item of primaryMenuItems; track $index) {
                <li>
                    <a 
                        [routerLink]="item.route"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"                   
                    >
                        <app-ui-icons 
                            [icon]="item.icon.icon" 
                            [color]="item.icon.color" 
                            [size]="item.icon.size" 
                            [strokeW]="item.icon.strokeWidth" 
                        />
                        <span>{{ item.name }}</span>
                    </a>
                </li>
            }
        </ul>

        <!-- Secondary navigation-->
        <span class="section-title">Utilities</span>
        <ul>
            @for (item of secondaryMenuItems; track $index) {
                <li>
                    <a 
                        [routerLink]="item.route"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"                   
                    >
                        <app-ui-icons 
                            [icon]="item.icon.icon" 
                            [color]="item.icon.color" 
                            [size]="item.icon.size" 
                            [strokeW]="item.icon.strokeWidth" 
                        />
                        <span>{{ item.name }}</span>
                    </a>
                </li>
            }
        </ul>

        <!-- Third navigation-->
        <span class="section-title">Settings</span>
        <ul>
            @for (item of thirdMenuItems; track $index) {
                <li>
                    <a 
                        [routerLink]="item.route"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"                   
                    >
                        <app-ui-icons 
                            [icon]="item.icon.icon" 
                            [color]="item.icon.color" 
                            [size]="item.icon.size" 
                            [strokeW]="item.icon.strokeWidth" 
                        />
                        <span>{{ item.name }}</span>
                    </a>
                </li>
            }
        </ul>

    </div>

    <!-- Logout container -->
    <div class="logout-container">
        <a routerLink="/dashboard/administration/setting">
            <app-ui-icons 
                [icon]="LogoutIcon" [color]="'var(--color-sidebar)'" [size]="23" [strokeW]="1.5" 
            />
            <span>Logout</span>
        </a>
    </div>

    <!-- Overlay for mobile -->
    <div class="overlay" [class.open]="!sidebar.isOpen()"></div>
    
</aside>