@use '../../styles/variables/index' as *;
@use '../../styles/utilities/index' as *;

.toggle {
    position: relative;
    display: inline-block;  
    
    button {
        background: none;
        border: none;
        padding: .075em;
        border-radius: 50%;
        width: 39px;
        height: 39px;
        cursor: pointer;     
        -webkit-tap-highlight-color: transparent; 
        -webkit-touch-callout: none;             
        -webkit-user-select: none;                
        user-select: none;                        
        outline: none;                            
        
        &:focus {
            outline: none;                        
        }
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid var(--color-border);
        }
    }
}

.dropdown-menu.open {
    transition: all 2000ms ease-in-out;
    animation: slide-fade 300ms;
}

.dropdown-menu {
    position: absolute;
    top: 3.75em;
    right: .5em;
    min-width: 180px;
    min-height: 150px;
    background-color: var(--color-sidebar);
    border: 1px solid var(--color-border);
    transition: 300ms ease-in-out;
    border-radius: 8px;
    padding: .75em;
    z-index: 900;

    li {
        list-style: none;
        padding: .35em .45em;
        margin-bottom: .1em;
        transition: 300ms ease-in-out;
        border-radius: 7px;
        user-select: none;
        cursor: pointer;

        &:hover, &active {
            background-color: var(--color-secondary);
        }

        a {
            display: flex;
            align-items: center;
            gap: .45em;
            text-decoration: none;
            color: var(--color-text);
        }
    }
}