@use '../../../../../common/styles/variables/font' as *;
@use '../../../../../common/styles//variables/color-admin' as *;

h2 {
    @extend %font-h2;
}

p {
    @extend %font-p;
    color: $text-primary;
}

main {
    position: relative;
    background-color: $bg-main;
    min-width: 100vw;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;

    #nav.open {
        width: 50px;
        padding: 5px 3px;
        

        ul {
            .logo-container .logo{ 
                opacity: 0;
            }

            li:not(.logo-container) {
                a {
                    padding: .25em .5em;
                    transition: 300ms ease-in-out;

                    &:hover {
                        background-color: $bg-main;
                    }
                }
            }
        }

        .section-title {
            opacity: 0;
        }
    }

    #nav {
        position: sticky;
        top: 0;
        align-self: start;   
        box-sizing: border-box;
        height: 100vh;
        width: 250px;
        padding: 5px 1em;
        background-color: $bg-sidebar;
        border-right: 1px solid $border;
        transition: 300ms ease-in-out;
        overflow: hidden;
        text-wrap: nowrap;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            margin-bottom: 1rem;

            .logo-container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 16px;

                .logo {
                    font-weight: 600;
                }
            }

            li:not(.logo-container) {
                width: 100%;
                max-height: 35px;

                a {
                    text-decoration: none;
                    color: $text-primary;
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    border-radius: .5em;
                    padding: .25em .5em .25em 1.5em;
                    transition: 300ms ease-in-out;

                    &:hover {
                        background-color: $bg-main;
                    }
                }
            }

            #toggle-btn {
                margin-left: auto;
                padding: 1em;
                border: none;
                background: none;
                border-radius: .5em;
                cursor: pointer;
            }
        }

        .section-title {
            border-radius: .5em;
            padding: .85em .25em;
            text-decoration: none;
            color: $text-primary;
            display: flex;
            align-items: center;
            gap: 1em;
            flex-shrink: 0;
            transition: 100ms ease;
            opacity: 60%;
        }

        .overlay {
            display: none;
        }
    }

    .home-content {
        display: grid;
        min-width: 100%;
        min-height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 225px 200px 200px 50px;
        grid-template-areas:
            "header header header header"
            "metric-panel metric-panel metric-panel metric-panel"
            "bar-chart bar-chart bar-chart todo"
            "bar-chart bar-chart bar-chart todo"
            "footer footer footer footer";
        gap: 1.5em;
        padding: 1.15rem 1.5rem;

        .header, .metric-panel, .bar-chart-container, 
        .quick-actions-container, .todo-list-container, .footer {
            background-color: aqua;
        }
    }
}

@media(max-width: 800px) {
    main {
        #nav {
            position: fixed;
            width: 70vw;

            ul {
                #toggle-btn {
                    padding: .9em;
                }
            }

            .overlay {
                display: block;
                transition: 300ms ease-in-out;
                transform: translateX(100px);
            }

            .overlay.open {
                position: fixed;
                transform: translateX(0);
                top: 0;
                right: 0;
                background-color: rgba(60, 60, 67, 0.6);
                backdrop-filter: blur(1px);
                width: 30%;
                height: 100vh;
            }
        }

        .home-content {
            display: grid;
            min-width: 100%;
            min-height: 100%;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 100px 225px 200px 200px 200px 50px;
            grid-template-areas:
                "header header header header"
                "metric-panel metric-panel metric-panel metric-panel"
                "bar-chart bar-chart bar-chart bar-chart"
                "bar-chart bar-chart bar-chart bar-chart"
                "todo todo todo todo"
                "footer footer footer footer";
            gap: 1.5em;
            padding-block: 1.5rem;
            padding-left: 4.75rem;

            .header, .metric-panel, .bar-chart-container, 
            .quick-actions-container, .todo-list-container, .footer {
                background-color: aqua;
            }
        }
    }
}