@use '../../styles/variables/index' as *;
@use '../../styles/utilities/index' as *;

button {
    min-width: auto;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    border: none;
    background: var(--color-primary);
    border-radius: 6px;
    padding: .45em 1em;
    font-size: 12px;
    letter-spacing: 0.05px;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
        transform: translateY(-0.5px);
        box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.04),
        0 6px 16px rgba(0, 0, 0, 0.1);
    }
    
    &.-info {
        background: var(--color-info);
        border: 1px solid var(--color-info-border);
        color: var(--color-sidebar);
        box-shadow: 2px ;
    }

    &.-warn {
        background: var(--color-warn);
        border: 1px solid var(--color-warn-border); 
        color: var(--color-sidebar);
    }

    &.-danger {
        background: var(--color-danger);
        border: 1px solid var(--color-danger-border);
        color: var(--color-sidebar);
    }

    &.-success {
        background: var(--color-success);
        border: 1px solid var(--color-success-border);
        color: var(--color-sidebar);
    }

    &.-outline {
        color: var(--color-text);
        background: none;
        border: 1.25px solid var(--color-border);
        padding: .85em 1.5em;
    }

    &.-ghost {
        color: var(--color-text);
        background: none;
        text-shadow: 1px var(--color-primary);
        padding: .85em 1.5em;
    }

}