@if (type === "button") {
    <button type="button" [class]="'-' + level" [style]="buttonStyle">
        @switch (variant) {
            @case ("text-icon") {
                <!-- <app-ui-icons [name]="''" />  -->
                <p>{{ name }}</p>
            }
            @case ("icon-only") {
                <!-- <app-ui-icons [name]="''" />  -->
            }
            @case ("text-only") {
                <p>{{ name }}</p>
            }
            @default {
                <p>{{ name }}</p>
            }
        }
    </button>
}

@if (type === "submit") {
    <button type="submit" [class]="'-' + level" [style]="buttonStyle">
        @switch (variant) {
            @case ("text-icon") {
                <!-- <app-ui-icons [name]="''" />  -->
                <p>{{ name }}</p>
            }
            @case ("icon-only") {
                <!-- <app-ui-icons [name]="''" />  -->
            }
            @case ("text-only") {
                <p>{{ name }}</p>
            }
            @default {
                <p>{{ name }}</p>
            }
        }
    </button>
}
