<nav class="breadcrumbs">
    <ol>
        @for (item of breadcrumbItems; track $index) 
        {
            @if (!lastItems($index, breadcrumbItems)) 
            {
                <li>
                    <a [routerLink]="item.route">
                        <span class="prev-route">{{ item.label }}</span>
                    </a>
                    <!-- <app-ui-icons [name]="''" />  -->
                </li>
            } 
            @else 
            {
                <li>
                     <span class="current-route">{{ item.label }}</span>
                </li>
            }
        }
    </ol>
</nav>
