<nav class="breadcrumbs">
    <ol>
        @for (item of breadcrumbItems; track $index) {
            @if (!lastItems($index, breadcrumbItems)) {
                <li>
                    <a [routerLink]="item.route">
                        <span class="prev-route">{{ item.label }}</span>
                    </a>
                </li>
                <app-ui-icons 
                    [color]="'var(--color-icon)'"
                    [size]="21"
                    [strokeW]="1.5"
                    [icon]="ChevronRight"
                    class="icon"
                />
            } @else {
                <li>
                     <span class="current-route">{{ item.label }}</span>
                </li>
            }
        }
    </ol>
</nav>
