/* Admin colors */
:host-context(.app-layout) {
    --color-primary: #1d1d1f;
    --color-secondary: #f5f5f7;
    --color-sidebar: #ffffff;
    --color-accent: #0066cc;
    --color-text: #242528;
    --color-border: #3c3c431f;
    --color-icon: #64748b;
}

:host-context(.app-layout-dark) {

}
