/* Client colors */
// backgrounds
$bg-main: #000000;
$bg-surface: #1C1C1E;
$bg-card: #2C2C2E;

// primary actions
$primary: #0A84FF;
$primary-hover: #409cff;

// accent
$accent: #FF9500;

// text
$text-primary: #FFFFFF;
$text-secondary: rgba(235, 235, 245, 0.6);

// border
$border: rgba(84, 84, 88, 0.65);