%font-h1 {
    font-size: clamp(2.2rem, calc(3vw + 0.8rem), 3.2rem);
}

%font-h2 {
    font-size: clamp(1.4rem, calc(1.75vw + 0.3rem), 1.75rem);
    font-weight: 500;
}

%font-p {
    font-size: clamp(1.2rem, calc(1.25vw + 0.2rem), 1.2rem);
}