%font-h1 {
    font-size: clamp(2.2rem, calc(3vw + 0.8rem), 3.2rem);
}

%font-h2 {
    font-size: clamp(1.8rem, calc(2vw + 0.4rem), 2.4rem);
}

%font-p {
    font-size: clamp(1.2rem, calc(1.5vw + 0.2rem), 1.6rem);
}