header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    align-items: center;  
    
    .left-content {
        display: flex;
        flex-direction: column;
        padding-left: .25em;
        flex-grow: 1;
        min-width: 0;
        gap: .15em;
    }

    .right-content {
        display: flex;
        flex-direction: row;
        gap: .5em;

        button {
            width: fit-content;
            display: flex;
            align-items: center;
            border: none;
            background: none;
            padding: .5em;
            border: 1px solid var(--color-border);
            border-radius: 7px;
            cursor: pointer;
        }

        button:nth-child(2) {
            background: var(--color-primary);
            color: var(--color-sidebar);
            border: none;
            padding: .5em 1.25em .5em 1.25em;
            gap: .35em;
            cursor: pointer;

            span {
                font-size: 0.85rem;
            }
        }
    }
}

@media (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        padding: 0.5rem 0.25rem;

        .left-content { padding-left: 0; }

        .right-content button {
            padding: .15em .35em;
        }

        .right-content {
            width: 100%;
            justify-content: flex-end;
            margin-top: -17.5px;

            button:nth-child(2) {
                background: var(--color-primary);
                color: var(--color-sidebar);
                border: none;
                padding: .07em .5em;
                gap: .15em;
                cursor: pointer;

                span {
                    font-size: 0.8rem;
                }
            }
        }
    }
}