@use '../../../../../common/styles/variables/font' as *;
@use '../../../../../common/styles//variables/color-admin' as *;

h2 {
    @extend %font-h2;
}

p {
    @extend %font-p;
    color: var(--color-text);
}

main {
    position: relative;
    min-width: 100vw;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;

    .home-content {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 100vh;
        background-color: var(--color-secondary);
        padding: 0.5rem 1.75rem;
        gap: 1em;

        .main-content {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            min-width: 100%;
            min-height: 100px;
            overflow-x: auto;
            overflow-y: hidden;
            gap: 1.5em;

            .metrics {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
                min-width: fit-content;
                min-height: fit-content;  
                gap: 1.5em;

            }

            .statistic {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                min-height: fit-content;  
                min-width: 100%;
                flex-grow: 1;
                gap: .75em;
                background: var(--color-sidebar);
                padding: .85em 1.25em;
                border-radius: 24px;

                .title {
                    display: flex;
                    min-width: 1fr;
                    justify-content: space-between;
                    align-items: center;
                    min-height: 50px;
                    border: 1px solid black;

                    h3 {
                        display: flex;
                        align-items: center;
                        height: 100%;
                    }

                    .filter-container {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        gap: .5em;

                        .toggle-timeline {
                            display: flex;
                            align-items: center;
                        }

                        .toggle-filter {
                            
                        }
                    }
                }

                .info-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid black;
    

                    .overall-value {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        font-size: 2rem;
                    }

                    .legends {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        gap: .5em; 
                  
                    }
                }

                .inner-container {
                    display: grid;
                    grid-template-columns: 65% auto;
                    grid-template-rows: auto;
                    gap: 1.5em;
    

                    .chart-container, .summary-container {
                        border: 1px solid black;
                        min-height: 350px;

                        .header {
            
                        }
                    }
                }
            }

            .overall {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                min-width: 100%;
                min-height: 400px;
                gap: 1.5em;

                .pie-chart, .top-employee, .priority-task {
                    border-radius: 24px;
                    background: var(--color-sidebar);
                }
            }
        }    
    }
}

@media (max-width: 1024px) {
    main {
        .home-content {
            padding: 0.5rem 1rem 0.5rem 1rem;

            .main-content .metrics, .statistic {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
            }
        }
    }
}

@media (max-width: 900px) {
    main {
        .home-content {
            padding: 0.5rem 1rem 0.5rem 1rem;

            .main-content .metrics {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
            }

            .main-content .statistic .inner-container {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    gap: 1.5em;
                    min-width: 1fr;
            }
        }
    }
}

@media (max-width: 600px) {
    main {
        .home-content {
            padding: 0.5rem 1rem 0.5rem 1rem;

            .main-content .metrics {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }

            .main-content .statistic .inner-container {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    gap: 1.5em;
                    min-width: 1fr;
            }
        }
    }
}

@media(max-width: 440px) {
    main {
        .home-content {
            padding: 0.5rem 1rem 0.5rem 4.75rem;

            .main-content .metrics {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }

            .main-content .statistic .inner-container {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    gap: 1.5em;
                    min-width: 1fr;
            }
        }
    }
}