@use '../../../../../common/styles/variables/font' as *;
@use '../../../../../common/styles//variables/color-admin' as *;

h2 {
    @extend %font-h2;
}

p {
    @extend %font-p;
    color: var(--color-text);
}

main {
    position: relative;
    min-width: 100vw;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;

    .home-content {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 100vh;
        background-color: var(--color-sidebar);
        padding: 0;

        .header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            background-color: var(--color-sidebar);
            padding: 1.25rem 1.75rem 0.75rem 1.75rem;
            letter-spacing: 0.25px;

            .button-group {
                position: relative;
                display: flex;
                gap: 0.5rem;
                width: fit-content;
                padding: .25em;

                button {
                    position: relative;
                    background: none;
                    border: none;
                    padding: .5em;
                    border-radius: 50%;
                    width: 39px;
                    height: 39px;
                }
            }
        }

        .footer {
            background-color: var(--color-sidebar);
            border-top: 1px solid var(--color-border);
            padding-block: .8em;
            padding-inline: 1.5rem;            
        }

        .grid-container {
            display: grid;
            min-width: 100%;
            min-height: 100dvh;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 225px 225px 200px 50px;
            grid-auto-rows: auto;
            grid-template-areas:
                "metric-panel metric-panel metric-panel metric-panel"
                "bar-chart bar-chart bar-chart todo"
                "bar-chart bar-chart bar-chart todo"
                "footer footer footer footer";
            gap: 1.5em;
            padding: 1rem 1.75rem;

            .header, .bar-chart-container, 
            .quick-actions-container, .todo-list-container, .footer {
                background-color: var(--color-sidebar);
                border: 1px solid var(--color-border);
                padding: 1em;
                border-radius: 8px;
            }

            .metric-panel {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 1rem;
            }
        }     
    }
}

@media(max-width: 440px) {
    // h2 {
    //     font-size: 20px;
    // }

    main {

        .home-content {
            padding-left: 3.4em;
            overflow-y: auto;

            .header {
                padding-inline: 0.75rem;

                .button-group .dropdown li {
                    cursor: default;
                }
            }

            .grid-container {
                display: grid;
                min-width: 100%;
                min-height: 100vh;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 
                    1fr minmax(50px, 150px) minmax(50px, 150px) 1fr 50px;
                grid-template-areas:
                    "metric-panel metric-panel metric-panel metric-panel"
                    "bar-chart bar-chart bar-chart bar-chart"
                    "bar-chart bar-chart bar-chart bar-chart"
                    "todo todo todo todo"
                    "footer footer footer footer";
                gap: 1.5em;
                padding: .75em;

                .header, .bar-chart-container, 
                .quick-actions-container, .todo-list-container, .footer {
                    background-color: var(--color-sidebar);
                    border: 1px solid var(--color-border);
                    padding: 1em;
                    border-radius: 8px;
                }

                .metric-panel {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
    }
}