@use '../../../../../common/styles/variables/font' as *;
@use '../../../../../common/styles//variables/color-admin' as *;

h2 {
    @extend %font-h2;
}

p {
    @extend %font-p;
    color: var(--color-text);
}

main {
    position: relative;
    min-width: 100vw;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;

    .home-content {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 100vh;
        background-color: var(--color-secondary);
        padding: 0.5rem 1.75rem;
        gap: 1em;

        .main-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 100px;
            overflow-x: auto;
            gap: 1.5em;

            .metrics {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
                min-width: 100%;
                min-height: fit-content;  
                gap: 1.5em;
            }

            .statistic {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                min-width: 100%;
                min-height: 450px;
                gap: 1.5em;
                border-radius: 24px;
                background: var(--color-sidebar);

                .chart-container, .summary-container {

                }
            }

            .overall {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                min-width: 100%;
                min-height: 400px;
                gap: 1.5em;

                .pie-chart, .top-employee, .priority-task {
                    border-radius: 24px;
                    background: var(--color-sidebar);
                }
            }
        }    
    }
}

@media (max-width: 1024px) {
    main {
        .home-content {
            padding: 0.5rem 1rem 0.5rem 1rem;

            .main-content .metrics {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
            }
        }
    }
}

@media (max-width: 900px) {
    main {
        .home-content {
            padding: 0.5rem 1rem 0.5rem 1rem;

            .main-content .metrics {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
            }
        }
    }
}

@media (max-width: 600px) {
    main {
        .home-content {
            padding: 0.5rem 1rem 0.5rem 1rem;

            .main-content .metrics {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }
        }
    }
}

@media(max-width: 440px) {
    main {
        .home-content {
            padding: 0.5rem 1rem 0.5rem 4.75rem;

            .main-content .metrics {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }
        }
    }
}