@use '../../styles/variables/index' as *;

.navbar-wrapper {
    position: relative;
    padding: 1.25rem 0 0 0;
    letter-spacing: 0.25px;
    align-items: center;
    z-index: 995;

    .inner-navbar {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        max-height: 100px;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        background-color: var(--color-sidebar);
        padding: .95em 1em;
        border-radius: 18px;
        box-shadow:
        inset 0 0 20px rgba(255, 255, 255, 0.15),
        0 0 50px rgba(255, 255, 255, 0.25);

        ul, .notification-and-menu-container {
            display: flex;
            align-items: center;
        }

        ul {
            width: 92.5%;
            justify-content: space-evenly;
            align-items: center;
            gap: .75em;

            li {
                list-style: none;
                min-width: fit-content;
            }

            a {
                position: relative;
                display: flex;
                align-items: center;
                gap: .35em;
                text-decoration: none;
                color: var(--color-text);
                transition: all 300ms ease-in-out;
                padding: .35em .75em;

                &.active-link {
                    color: var(--color-primary);
                    background: var(--color-secondary);
                    border-radius: 10px;
                }
            }
        }

        .notification-and-menu-container {
            width: 7.5%;
            width: auto;
            max-height: 100px;
            height: 5vh;
            gap: 1em;
        }
    }
}

@media (max-width: 1000px) {
    .navbar-wrapper {
        max-width: 100%;

        .inner-navbar {
            padding: .25em .85em .35em .85em;

            li {
                width: fit-content;
            }

            ul {
                width: fit-content;
                overflow-x: auto;
                align-items: center;
                gap: 1.25em;

                a {
                    padding: .5em .5em;
                    margin-top: 5px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .navbar-wrapper {
        max-width: 100%;
        padding: .75em 0 0 0;

        .inner-navbar {
            padding: .5em .85em .35em .85em;

            ul {
                width: 65%;
                overflow-x: auto;

                a {
                    margin-top: 2px;
                }
            }
        }
    }
}