@use '../../styles/variables/index' as *;
@use '../../styles/utilities/index' as *;

.card-metric {
    min-width: 21.5vw;
    min-height: 175px;
    border: 1px solid var(--color-border);
    border-radius: 16px;
    padding: .85em 1em;

    .header {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        gap: .5em;

        .icon-wrapper {
            background: var(--color-secondary);
            border-radius: 50%;
            padding: .5em;
            width: 40px;
            height: 40px;
        }

        h3 {
            font-weight: 500;
        }

        .info-btn {
            position: absolute;
            top: 15px;
            right: 5px;
        }
    }

    .body {

    }

    .footer {

    }
}
