@if (cardMetricConfig) {
    <article class="card-metric">
        <header>
            @if (isFirstChild) {
                <span class="icon-wrapper-dark">
                    <app-ui-icons 
                        [provider]="setIcon"
                        [iconClass]="cardMetricConfig.mainIcon.icons.iconHuge.icon"
                        [iconStyle]="cardMetricConfig.mainIcon.icons.iconHuge.style"
                        [iconItems]="cardMetricConfig.mainIcon.icons.iconLucide"
                    />                               
                </span>
            } @else {
                <span class="icon-wrapper">
                    <app-ui-icons 
                        [provider]="setIcon"
                        [iconClass]="cardMetricConfig.detailIcon.icons.iconHuge.icon"
                        [iconStyle]="cardMetricConfig.detailIcon.icons.iconHuge.style"
                        [iconItems]="cardMetricConfig.detailIcon.icons.iconLucide"
                    />                
                </span>
            }
            <h3>{{ cardMetricConfig.name }}</h3>
            <span class="info-btn">
                <app-ui-icons 
                    provider="hugeIcon"
                    [iconClass]="cardMetricConfig.detailIcon.icons.iconHuge.icon"
                    [iconStyle]="cardMetricConfig.detailIcon.icons.iconHuge.style"
                    [iconItems]="cardMetricConfig.detailIcon.icons.iconLucide"
                /> 
            </span>
        </header>
        <div class="body">
            <span class="metric-symbol">{{ cardMetricConfig.valueSymbol }}</span>
            <output class="metric-value">{{ cardMetricConfig.metricValue }}</output>
        </div>
        <footer>
            <app-ui-badge [iconItems]="cardBadgeIconItems" />
            <p>{{ cardMetricConfig.infoText }}</p>
        </footer>
    </article>
}

@switch (cardNotificationConfig?.level) {
    @case ("auth") {
        <div 
            class="card-notification"
            [class]="'-' + cardNotificationConfig?.status"
        >
        1
        </div>
    }
    @case ("info") {
        <div 
            class="card-info"
            [class]="'-' + cardNotificationConfig?.status"
        >
1
        </div>
    }
    @case ("payment") {
        <div 
            class="card-payment"
            [class]="'-' + cardNotificationConfig?.status"
        >
1
        </div>
    }
}
