@use '../../styles/variables/index' as *;
@use '../../styles/utilities/index' as *;

.card-metric {
    min-width: 250px;
    min-height: 175px;
    border-radius: 24px;
    padding: .85em 1.25em;
    background: var(--color-sidebar);
    box-shadow:
    inset 0 0 20px rgba(255, 255, 255, 0.15),
    0 0 50px rgba(255, 255, 255, 0.25);

    header {
        position: relative;
        width: 100%;
        min-height: 40px;
        display: flex;
        align-items: center;
        gap: .45em;

        .icon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-secondary);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            padding-top: .1em;
        }

        .icon-wrapper-dark {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-primary);
            border-radius: 50%;
            width: 38px;
            height: 38px; 
            padding-top: .1em;         
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 500;
            opacity: 80%;
        }

        .info-btn {
            position: absolute;
            top: 10px;
            right: 5px;
        }
    }

    .body {
        min-width: 100%;
        padding: .5em 0;
        display: flex;
        gap: .25em;
        min-height: 70px;

        .metric-symbol {
            font-size: 2.25rem;
        }

        .metric-value {
            font-size: 2.25rem;
            font-weight: 500;
        }
    }

    footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-items: center;
        gap: .5em;
        min-height: 30px;

        p {
            color: var(--color-text);
            font-size: 0.9rem;
        }
    }
}

// @media (max-width: 500px) {
//     .card-metric {
//         min-width: 290px;
//     }
// }
