@if (cardMetricConfig) {
    <article class="card-metric">
        <header>
            @if (isFirstChild) {
                <span class="icon-wrapper-dark">
                    <!-- <app-ui-icons [name]="''" />                                -->
                </span>
            } @else {
                <span class="icon-wrapper">
                    <app-ui-icons 
                    />                
                </span>
            }
            <h3>{{ cardMetricConfig.name }}</h3>
            <span class="info-btn">
                <!-- <app-ui-icons [name]="''" />   -->
            </span>
        </header>
        <div class="body">
            <span class="metric-symbol">{{ cardMetricConfig.valueSymbol }}</span>
            <output class="metric-value">{{ cardMetricConfig.metricValue }}</output>
        </div>
        <footer>
            <!-- <app-ui-badge [iconItems]="cardBadgeIconItems" /> -->
            <p>{{ cardMetricConfig.infoText }}</p>
        </footer>
    </article>
}

@switch (cardNotificationConfig?.level) {
    @case ("auth") {
        <div 
            class="card-notification"
            [class]="'-' + cardNotificationConfig?.status"
        >
        1
        </div>
    }
    @case ("info") {
        <div 
            class="card-info"
            [class]="'-' + cardNotificationConfig?.status"
        >
1
        </div>
    }
    @case ("payment") {
        <div 
            class="card-payment"
            [class]="'-' + cardNotificationConfig?.status"
        >
1
        </div>
    }
}
