@if (cardMetricConfig) {
    <div class="card-metric">
        <div class="header">
            @if (isFirstChild) {
                <span class="icon-wrapper-dark">
                    <app-ui-icons 
                        [provider]="setIcon"
                        [iconClass]="cardMetricConfig.icon.hugeIcon.icon"
                        [iconStyle]="cardMetricConfig.icon.hugeIcon.style"
                        [iconItems]="cardMetricConfig.icon.lucideIcon"
                    />                               
                </span>
            } @else {
                <span class="icon-wrapper">
                    <app-ui-icons 
                        [provider]="setIcon"
                        [iconClass]="cardMetricConfig.icon.hugeIcon.icon"
                        [iconStyle]="cardMetricConfig.icon.hugeIcon.style"
                        [iconItems]="cardMetricConfig.icon.lucideIcon"
                    />                
                </span>
            }
            <h3>{{ cardMetricConfig.name }}</h3>
            <span class="info-btn">
                <app-ui-icons 
                    provider="hugeIcon"
                    [iconClass]="cardMetricConfig.detailIcon.hugeIcon.icon"
                    [iconStyle]="cardMetricConfig.detailIcon.hugeIcon.style"
                    [iconItems]="cardMetricConfig.detailIcon.lucideIcon"
                /> 
            </span>
        </div>
        <div class="body">
            <span class="metric-symbol">{{ cardMetricConfig.valueSymbol }}</span>
            <span class="metric-value">{{ cardMetricConfig.metricValue }}</span>
        </div>
        <div class="footer">
            <span class="percentage-rate">{{ cardMetricConfig.percentageRate }}</span>
            <p>{{ cardMetricConfig.infoText }}</p>
        </div>
    </div>
}

@switch (cardNotificationConfig?.level) {
    @case ("auth") {
        <div 
            class="card-notification"
            [class]="'-' + cardNotificationConfig?.status"
        >
        1
        </div>
    }
    @case ("info") {
        <div 
            class="card-info"
            [class]="'-' + cardNotificationConfig?.status"
        >
1
        </div>
    }
    @case ("payment") {
        <div 
            class="card-payment"
            [class]="'-' + cardNotificationConfig?.status"
        >
1
        </div>
    }
}
